.hero.wrapper {
    background-image: url(../../assets/photos/bg-home.jpg);
    display: flex;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    /* box-shadow: inset 0 2px 0px 2px #1c1c1cb1; */
    /* box-shadow: inset 0 -35px 10px 2px #00000087; */
    box-shadow: 0 2px 4px 2px #000000b1;
    border-bottom: 1px solid #ffffff2e;
    margin-bottom: 4rem;
}

.hero.wrapper .v-stack {
    display: flex;
    flex-direction: column;
}

.hero.wrapper h1 {
    font-size: clamp(4rem, 12vw + 1rem, 10rem);
    letter-spacing: clamp(0.05em, 1vw, 0.6em);
    text-shadow: 0 0 8px #000000;
    text-align: center;
    z-index: 2;
    padding: 0 5rem;
    color: #fff;
}

.hero.wrapper p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: center;
    font-size: 1rem;
    color: #fff;
    font-size: 2rem;
    height: 10rem;
    text-shadow: 0 0 8px #000000;
}

.hero.wrapper p.leftward {
    left: 0;
}

.hero.wrapper p.rightward {
    right: 0;
    transform: translateY(-50%) rotate(90deg);
}

.hero.wrapper .mouse-icon {
    max-width: max-content;
    position: absolute;
    bottom: 10vh;
}


