/* ------------------------------------------------------------------------- */
/* ROOT DESIGN */
/* ------------------------------------------------------------------------- */

html,
body {
    background: #1e1e1e;
    background-image: linear-gradient(
    0deg,
    hsl(200deg 38% 18%) 0%,
    hsl(204deg 32% 20%) 10%,
    hsl(207deg 27% 22%) 20%,
    hsl(212deg 23% 24%) 30%,
    hsl(217deg 19% 25%) 40%,
    hsl(223deg 15% 27%) 50%,
    hsl(220deg 16% 24%) 60%,
    hsl(218deg 17% 21%) 70%,
    hsl(216deg 18% 18%) 80%,
    hsl(214deg 19% 15%) 90%,
    hsl(212deg 20% 13%) 100%
  );
}

main > *:first-child {
    margin-top: 0;
}

main > *:last-child {
    margin-bottom: 0;
}

/* :root {
    --site-bg-color: #ffffff;
    --site-fg-color: #ffffffcc;
    --site-border-color: #c4c4c4;
    --site-margin-length: 1.0rem;
    --site-vertical-gap-length: 1.0rem;
}


@media screen and (prefers-color-scheme: dark) {
    :root {
        --site-bg-color: #191919;
        --site-fg-color: #2925257a;
        --site-border-color: #2f5066;
    }
} */


/* ------------------------------------------------------------------------- */
/* CONTENT LAYOUT */
/* ------------------------------------------------------------------------- */