nav.site-full-width {
  background-image: url("../../assets/photos/menu-sfondo-mobile.jpg");
  height: 100dvh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform .4s;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
}

nav.site-full-width.open {
  transform: translateX(0);
}

nav.site-full-width ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

nav.site-full-width ul li {
  margin: 0;
  font-size: 1.5rem;
}

nav.site-full-width ul li a {
  text-decoration: none;
  color: inherit;
}
