<hoist>
    <link rel="stylesheet" type="text/css" href="./site-nav-full-width.css">
</hoist>

<nav id="site-nav" class="site-full-width">
    <div class="container">
        <div class="primary">
            <ul class="menu">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Brand • Gallery</a>
                </li>
                <li>
                    <a href="#">Campaign</a>
                </li>
                <li>
                    <a href="#">Store</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Diary</a>
                </li>
            </ul>
        </div>
        <div class="secondary">
            <p style="margin-top: 0.5rem;">Social</p>
            <ul class="externals">
                <li><a href="https://www.example.com">Twitter⧸X</a></li>
                <li><a href="https://www.example.com">Facebook</a></li>
                <li><a href="https://www.example.com">Instagram</a></li>
            </ul>
            <p style="margin-top: 0.5rem;">Newsletter</p>
            <ul class="externals">
                <li><a href="https://www.example.com">SubStack</a></li>
            </ul>
            <p style="margin-top: 0.5rem;">Contact</p>
            <ul class="contacts">
                <li class="contact"><a href="mailto:contact@example.com">contact@example.com</a></li>
                <li class="contact"><a href="tel:+1-000-000-0000">(000) 000-0000</a></li>
            </ul>
        </div>
    </div>
</nav>