<article class="section">
    <h1 class="title">2019</h1>
    <section class="entry">
        <include
            src="./imager.html"
            baseline="h2">
        </include>
    </section>

    <section class="entry">
        <include
            src="./subscript-old.html"
            baseline="h2">
        </include>
    </section>

    <section class="entry">
        <include
            src="./web-images-js.html"
            baseline="h2">
        </include>
    </section>

    <section class="entry">
        <include
            src="./milestone.html"
            baseline="h2">
        </include>
    </section>
</article>