.hero.wrapper {
  background-image: url("../../assets/photos/bg-home.jpg");
  display: flex;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.hero.wrapper .v-stack {
  display: flex;
  flex-direction: column;
}

.hero.wrapper h1 {
  font-size: clamp(4rem, 12vw + 1rem, 10rem);
  letter-spacing: clamp(.05em, 1vw, .6em);
  text-shadow: 0 0 8px #000;
  text-align: center;
  z-index: 2;
  padding: 0 5rem;
  color: #fff;
}

.hero.wrapper p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)rotate(-90deg);
  transform-origin: center;
  font-size: 1rem;
  color: #fff;
  font-size: 2rem;
  height: 10rem;
  text-shadow: 0 0 8px #000;
}

.hero.wrapper p.leftward {
  left: 0;
}

.hero.wrapper p.rightward {
  right: 0;
  transform: translateY(-50%)rotate(90deg);
}

.hero.wrapper .mouse-icon {
  max-width: max-content;
  position: absolute;
  bottom: 10vh;
}

:root {
  --base: 97%;
  --tip: 100%;
}

@media (width >= 1024px) {
  .hero.wrapper {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% var(--base), 95.5% var(--tip), 91% var(--base), 86.5% var(--tip), 82% var(--base), 77.5% var(--tip), 73% var(--base), 68.5% var(--tip), 64% var(--base), 59.5% var(--tip), 55% var(--base), 50.5% var(--tip), 46% var(--base), 41.5% var(--tip), 37% var(--base), 32.5% var(--tip), 28% var(--base), 23.5% var(--tip), 19% var(--base), 14.5% var(--tip), 10% var(--base), 5.5% var(--tip), 0% var(--base), 0% 0%);
    clip-path: polygon(0% 0%, 100% 0%, 100% var(--base), 95.5% var(--tip), 91% var(--base), 86.5% var(--tip), 82% var(--base), 77.5% var(--tip), 73% var(--base), 68.5% var(--tip), 64% var(--base), 59.5% var(--tip), 55% var(--base), 50.5% var(--tip), 46% var(--base), 41.5% var(--tip), 37% var(--base), 32.5% var(--tip), 28% var(--base), 23.5% var(--tip), 19% var(--base), 14.5% var(--tip), 10% var(--base), 5.5% var(--tip), 0% var(--base), 0% 0%);
  }
}

@media (width >= 600px) and (width <= 1023px) {
  .hero.wrapper {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% var(--base), 96.4% var(--tip), 92.8% var(--base), 89.2% var(--tip), 85.6% var(--base), 82% var(--tip), 78.4% var(--base), 74.8% var(--tip), 71.2% var(--base), 67.6% var(--tip), 64% var(--base), 60.4% var(--tip), 56.8% var(--base), 53.2% var(--tip), 49.6% var(--base), 46% var(--tip), 42.4% var(--base), 38.8% var(--tip), 35.2% var(--base), 31.6% var(--tip), 28% var(--base), 24.4% var(--tip), 20.8% var(--base), 17.2% var(--tip), 13.6% var(--base), 10% var(--tip), 6.4% var(--base), 2.8% var(--tip), 0% var(--base), 0% 0%);
    clip-path: polygon(0% 0%, 100% 0%, 100% var(--base), 96.4% var(--tip), 92.8% var(--base), 89.2% var(--tip), 85.6% var(--base), 82% var(--tip), 78.4% var(--base), 74.8% var(--tip), 71.2% var(--base), 67.6% var(--tip), 64% var(--base), 60.4% var(--tip), 56.8% var(--base), 53.2% var(--tip), 49.6% var(--base), 46% var(--tip), 42.4% var(--base), 38.8% var(--tip), 35.2% var(--base), 31.6% var(--tip), 28% var(--base), 24.4% var(--tip), 20.8% var(--base), 17.2% var(--tip), 13.6% var(--base), 10% var(--tip), 6.4% var(--base), 2.8% var(--tip), 0% var(--base), 0% 0%);
  }
}

@media (width <= 599px) {
  .hero.wrapper {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% var(--base), 93.75% var(--tip), 87.5% var(--base), 81.25% var(--tip), 75% var(--base), 68.75% var(--tip), 62.5% var(--base), 56.25% var(--tip), 50% var(--base), 43.75% var(--tip), 37.5% var(--base), 31.25% var(--tip), 25% var(--base), 18.75% var(--tip), 12.5% var(--base), 6.25% var(--tip), 0% var(--base), 0% 0%);
    clip-path: polygon(0% 0%, 100% 0%, 100% var(--base), 93.75% var(--tip), 87.5% var(--base), 81.25% var(--tip), 75% var(--base), 68.75% var(--tip), 62.5% var(--base), 56.25% var(--tip), 50% var(--base), 43.75% var(--tip), 37.5% var(--base), 31.25% var(--tip), 25% var(--base), 18.75% var(--tip), 12.5% var(--base), 6.25% var(--tip), 0% var(--base), 0% 0%);
  }
}
