<link rel="stylesheet" type="text/css" href="./showcase.css">

<!-- <rewrite element="table" function="map">
    <div class="table-scroll">
        <inject self></inject>
    </div>
</rewrite> -->

<section class="newspaper">
    <include src="./2018/index.html"></include>
    <include src="./2019/index.html"></include>
    <include src="./2020/index.html"></include>
    <include src="./2021/index.html"></include>
    <include src="./2022/index.html"></include>
    <include src="./2023/index.html"></include>
    <include src="./2024/index.html"></include>
    <include src="./2025/index.html"></include>
</section>

