section.newspaper article.section h1.title {
    box-shadow: 0 0 5px 1px #3a3a3a26;
    padding: 0 1rem;
    padding-bottom: 0.2rem;
    text-align: center;
}

section.newspaper article.section section.entry {
    border-left: 3px solid #d853aa6b;
    padding-left: 10px;
    margin: 0 1rem;
    box-shadow: 0 0 5px 1px #66666666;
    padding: 1rem 0;
}

section.newspaper article.section section.entry > * {
    padding: 0 1.5rem;
}

section.newspaper article.section section.entry > pre {
    padding: 1rem 1.5rem;
    white-space: pre;
    overflow-x: auto;
    max-width: 100%; /* or a specific width if needed */
    display: block;
}


section.newspaper article.section section.entry > img.boxed {
    border: 1px solid #585858;
    padding: 0;
    margin: 1rem;
    border-radius: 0.5rem;
}

section.newspaper img {
    max-width: 100%;
}

section.newspaper blockquote {
    margin-left: 1rem;
}

section.newspaper a, section.newspaper code {
    line-break: anywhere;
}

