<h1 class="title">
    <a href="https://github.com/colbyn/commands" target="_blank">colbyn/commands</a>
</h1>

<img src="../../../assets/images/legacy/commands-example.gif" class="boxed">

<p>
    My least loved project but IMO a greatly improved Bash dialect via an indentation sensitive parser. The syntax mimics the clarity of Python, but compiles to raw shell for automation heavy workflows like <strong>AWS deployments</strong>.
</p>
<h2>Key Features</h2>
<ul>
    <li>Indentation-sensitive syntax for nested blocks.</li>
    <li>Function embedding, aliasing, and multiline strings.</li>
    <li>Supports structured parsing, silent execution, and CLI grouping.</li>
</ul>

<hr>

<h2>This tool has some pretty cool ideas</h2>

<p>Indentation sensitive parser:</p>
<pre><code>aws cloudformation deploy
    --template-file $(pwd)/aws-infrastructure.yaml
    --stack-name ...
    --s3-bucket ...
    --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM</code></pre>

<p>Functions:</p>
<pre><code>from ./backend/services do
stack build
stack exec provision-db</code></pre>

<p>Multiline Strings:</p>
<pre><code>psql -d services -tc
"""
CREATE EXTENSION IF NOT EXISTS "uuid-ossp"
"""</code></pre>

<p>A perfect example featuring the aws cli (i.e. because tool is incredibly VERBOSE):</p>
<pre><code># AWS Helpers

command aws::deploy do
aws cloudformation deploy
    --template-file $(pwd)/aws-infrastructure.yaml
    --stack-name ...
    --s3-bucket ...
    --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM

command aws::deploy::info do
aws cloudformation deploy
    --template-file $(pwd)/aws-infrastructure.yaml
    --stack-name ...
    --s3-bucket ...
    --no-execute-changeset
    --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM

# Build and upload our image.
command ami::build do
linuxkit build -format vmdk -dir .linuxkit-out ./aws-image.yaml
ami-uploader .linuxkit-out/aws-image.vmdk</code></pre>

<blockquote>
<p>Notice that this is basically bash + misc. conveniences like an indentation sensitive parser.</p>
</blockquote>

<p>Other examples:</p>
<pre><code># idk...
command publish do
echo &quot;Publishing...&quot;
silent do
    git add .
    git commit -m &quot;auto&quot;
    git push -u origin master
    echo &quot;complete&quot;
echo &quot;Complete.&quot;
git --no-pager log --name-status HEAD^..HEAD | grep commit

command db::init do
# Since Postgres doesn&rsquo;t support something like &ldquo;CREATE DATABASE IF NOT EXISTS&rdquo;,
# well just run the following command and discard the the error it will produce
# if already created via the `try do [code block]` function.
try do
    createdb services

psql -d services -tc
    &quot;&quot;&quot;
    CREATE EXTENSION IF NOT EXISTS &quot;uuid-ossp&quot;
    &quot;&quot;&quot;

from ./backend/services do
    stack build
    stack exec provision-db
echo &quot;Setup complete.&quot;

command run-chrome do
# Usually commands ending with an &lsquo;_&rsquo; will redirect stdout/stderr to `/dev/null`.
run_ &quot;/Applications/Google Chrome.app/Contents/MacOS/Google Chrome&quot;
    --app=http://127.0.0.1:3000
    --auto-open-devtools-for-tabs

command test do
# should this be something like `let lorem = ...`?
lorem &lt;- echo &quot;lorem ipsum&quot;
parallel do
    echo &quot;first&quot;
    echo &quot;second&quot;
    silent echo &quot;third&quot;
echo &quot;done&quot;</code></pre>

<hr>

<div class="tag-grid">
    <span class="tag">CLI Tools</span>
    <span class="tag">Automation</span>
    <span class="tag">DSL</span>
    <span class="tag">Bash-Inspired</span>
</div>
