<article class="year biography">
    <section class="info">
        <h2>Facts</h2>
        <ul>
            <li><p>Top percentile OS contributor on GitHub.<sup>†</sup></p></li>
            <li><p>Most popular authored OS tool has <code>688</code> stars.<sup>‡</sup></p></li>
            <li><p>My most technically challenging work was a relatively recent project — an experimental (proof of concept) markdown renderer implemented in terms of Apple's new low-level TextKit2 layout and rendering framework.<sup>§</sup></p></li>
        </ul>
        <ul class="footnotes no-break">
            <li data-symbol="†">See my 2019 statistics on this resume or on <a href="https://github.com/colbyn">github.com/colbyn</a></li>
            <li data-symbol="‡">
                <a href="https://github.com/imager-io/imager">imager-io/imager</a>
            </li>
            <li data-symbol="§">
                <a href="https://github.com/SuperSwiftMarkup/SuperSwiftMarkdownPrototype">SuperSwiftMarkup/SuperSwiftMarkdownPrototype</a>
            </li>
        </ul>
    </section>
    <section class="info">
        <h2>About Me</h2>
        <p class="justified">I fell in love with purely functional programming in my late teens and went deep. While not a professional compiler engineer, I’ve spent years building parsers, modeling data structures, and transforming ASTs — an experience that shaped my approach to solving abstract, technically difficult problems from first principles.</p>
        <p>I’ve taken a nontraditional path — spending most of my twenties pursuing independent technical work. It taught me how to solve hard problems (though not always how to make money from them). Today, I’m especially strong in systems involving Rust and Swift, particularly in domains that demand deep control, like custom TextKit2 rendering or workflows where off-the-shelf tools — including AI — fall short.</p>
    </section>
</article>