<link rel="stylesheet" type="text/css" href="./timeline.css">

<include src="./preamble.html"></include>

<section class="timeline">
    <include src="./biography.html"></include>
    <h1>History</h1>
    <include src="./timeline/year-2015.html"></include>
    <include src="./timeline/year-2016.html"></include>
    <include src="./timeline/year-2018.html"></include>
    <include src="./timeline/year-2019.html"></include>
    <include src="./timeline/year-2020.html"></include>
    <include src="./timeline/year-2021.html"></include>
    <include src="./timeline/year-2022.html"></include>
    <include src="./timeline/year-2023.html"></include>
    <include src="./timeline/year-2024.html"></include>
    <include src="./timeline/year-2025.html"></include>
</section>
