<link rel="stylesheet" type="text/css" href="./preamble.css">

<div class="preamble">
    <header class="main">
        <h1 class="me">Colbyn Wadman</h1>
        <p class="tagline">
            I specialize in building custom tools and utilities — but I’ve tackled a wide range of problems beyond that
        </p>
        <div class="tags">
            <p class="tag">Apps</p>
            <p class="tag">Tools</p>
            <p class="tag">Automation</p>
            <p class="tag">Data/AI Pipelines</p>
            <p class="tag">Solo Builder</p>
            <p class="tag">Technically Fluent Writer</p>
        </div>
    </header>
    
    <div class="contact-options">
        <p class="contact"><code>hello@colbyn.com</code></p>
        <p class="contact"><a href="https://colbyn.com"><code>colbyn.com</code></a></p>
        <p class="contact"><code>801-367-4487</code></p>
    </div>    
</div>    

