<h1 class="title">
    <span class="outline">3in1Spanish</span>
    <span class="tagline">Your go-to Spanish Dictionary, Phrasebook & Flash Cards</span>
</h1>


<p>Not Open Source</p>

<p>Experiments in compiling dictionaries, phrasebooks, and the like for language learning apps.</p>

<img alt="example image" src="../../../assets/images/legacy/3in1-spanish/example-1.PNG" class="boxed">
<img alt="example image" src="../../../assets/images/legacy/3in1-spanish/example-2.jpeg" class="boxed">
<img alt="example image" src="../../../assets/images/legacy/3in1-spanish/example-3.PNG" class="boxed">

<p>Tons of linguistic details.</p>

<p>Used my background as an amateur compiler engineer to build a sophisticated pipeline that can produce massive datasets from LLM generated entries.</p>

<p class="no-break">
    Intro. My Note-Taking App & Why It Matters in the Age of Bots (YouTube):
    <a href="https://youtu.be/PEC5PyNhIds?si=W6w6zOrrK29rD37C" target="_blank">
        https://youtu.be/PEC5PyNhIds?si=W6w6zOrrK29rD37C
    </a>
</p>
