<h1 class="center bordered">Bilingual Scripture App</h1>

<div class="scroll-container">
    <picture>
        <source srcset="../../../assets/images/screenshots/DualBooks/2025-7-11.ipad.dark-mode.PNG"
            media="(prefers-color-scheme: dark)">
        <source srcset="../../../assets/images/screenshots/DualBooks/2025-7-11.ipad.light-mode.PNG"
            media="(prefers-color-scheme: light)">
        <img style="max-height: 800px;"
            src="../../../assets/images/screenshots/DualBooks/2025-7-11.ipad.light-mode.PNG" alt="Themed Image">
    </picture>
</div>

<div class="note box">
    <h2>TODO</h2>
    <p>Contact me for details — will be publishing the initial version to the app store sometime in the near future — subsequent work will include more parallel (bilingual) scripture content of different books.</p>
</div>



