<article class="section">
    <h1 class="title">2024</h1>
    <section class="entry">
        <include
            src="./parser-debug-toolkit.html"
            baseline="h2">
        </include>
    </section>
    <section class="entry">
        <include
            src="./3in1Spanish.html"
            baseline="h2">
        </include>
    </section>
    <section class="entry">
        <include
            src="./dual-books.html"
            baseline="h2">
        </include>
    </section>
</article>