/* ------------------------------------------------------------------------- */
/* ROOT DESIGN */
/* ------------------------------------------------------------------------- */

html,
body {
    background: #1e1e1e;
    background-image: linear-gradient(
    0deg,
    hsl(250deg 48% 10%) 0%,
    hsl(249deg 35% 13%) 8%,
    hsl(255deg 29% 15%) 15%,
    hsl(260deg 25% 18%) 23%,
    hsl(265deg 21% 20%) 31%,
    hsl(270deg 19% 23%) 38%,
    hsl(275deg 16% 25%) 46%,
    hsl(258deg 15% 28%) 54%,
    hsl(225deg 19% 28%) 62%,
    hsl(209deg 26% 27%) 69%,
    hsl(199deg 28% 25%) 77%,
    hsl(189deg 25% 25%) 85%,
    hsl(177deg 18% 25%) 92%,
    hsl(160deg 13% 27%) 100%
  );
}

main > *:first-child {
    margin-top: 0;
}

main > *:last-child {
    margin-bottom: 0;
}

/* :root {
    --site-bg-color: #ffffff;
    --site-fg-color: #ffffffcc;
    --site-border-color: #c4c4c4;
    --site-margin-length: 1.0rem;
    --site-vertical-gap-length: 1.0rem;
}


@media screen and (prefers-color-scheme: dark) {
    :root {
        --site-bg-color: #191919;
        --site-fg-color: #2925257a;
        --site-border-color: #2f5066;
    }
} */


/* ------------------------------------------------------------------------- */
/* CONTENT LAYOUT */
/* ------------------------------------------------------------------------- */