/* ------------------------------------------------------------------------- */
/* ROOT DESIGN */
/* ------------------------------------------------------------------------- */

html,
body {
    background: #1e1e1e;
    background-image: linear-gradient(0deg,
            hsl(251deg 86% 20%) 0%,
            hsl(253deg 78% 20%) 8%,
            hsl(254deg 71% 20%) 15%,
            hsl(256deg 64% 20%) 23%,
            hsl(257deg 57% 20%) 31%,
            hsl(258deg 51% 20%) 38%,
            hsl(259deg 44% 20%) 46%,
            hsl(260deg 38% 20%) 54%,
            hsl(261deg 32% 20%) 62%,
            hsl(262deg 26% 19%) 69%,
            hsl(263deg 20% 19%) 77%,
            hsl(264deg 13% 19%) 85%,
            hsl(265deg 7% 19%) 92%,
            hsl(0deg 0% 19%) 100%);
}

main > *:first-child {
    margin-top: 0;
}

main > *:last-child {
    margin-bottom: 0;
}

/* :root {
    --site-bg-color: #ffffff;
    --site-fg-color: #ffffffcc;
    --site-border-color: #c4c4c4;
    --site-margin-length: 1.0rem;
    --site-vertical-gap-length: 1.0rem;
}


@media screen and (prefers-color-scheme: dark) {
    :root {
        --site-bg-color: #191919;
        --site-fg-color: #2925257a;
        --site-border-color: #2f5066;
    }
} */


/* ------------------------------------------------------------------------- */
/* CONTENT LAYOUT */
/* ------------------------------------------------------------------------- */