<article class="year">
    <header class="year-header">
        <h2 class="year-label">2015</h2>
    </header>
    <section class="project job">
        <h3>
            <span class="outline">Galileo Processing</span>
            <span class="role">Data Center Tech</span>
        </h3>
        <p>Began working there when I was 17, reported to Robert Raver, and then another manager whom gave me a few pay raises for good performance while transitioning the office to the new mainframe build-out.</p>
        <div class="tag-grid">
            <span class="tag">Basic Networking</span>
            <span class="tag">Datacenter Misc.</span>
            <span class="tag">Communication</span>
        </div>
    </section>
</article>