<article class="year">
    <header class="year-header">
        <h2 class="year-label">2020</h2>
    </header>

    <section class="project event">
        <h3>Began College</h3>
        <p>Notable Comments</p>
        <blockquote>
            <p>You are such a profound writer and thinker. It has been my privilege to be your instructor of record. One day I will say, I had him in my English class. I have such high hopes for you! Go conquer your world! You're awesome.</p>
            <p>—Dr. Jim Birrell</p>
        </blockquote>
        <div class="tag-grid">
            <span class="tag">LaTeX</span>
        </div>
    </section>

    <section class="project job">
        <h3>
            <span class="outline">UVU</span>
            <span class="role">CS Grader - Computer Science</span>
        </h3>
        <p>In my first semester at UVU I took CS1400 by professor Bianca Ruiz, who then offered me a grading position at the end of the semester. I enjoyed this job and wish I stayed (I took trigonometry and calculus concurrently and was expecting subsequent semesters to be just as difficult).</p>
        <p>The instructor said my code looked “beautiful” before I signed up as a grader.</p>
        <div class="tag-grid">
            <span class="tag">Python</span>
            <span class="tag">Grading</span>
            <span class="tag">Teaching</span>
            <span class="tag">Communication</span>
        </div>
    </section>

    <section class="project">
        <h3>
            <a href="https://github.com/subscript-publishing/subscript-html" target="_blank">The Subscript HTML Toolchain</a>
        </h3>
        <p class="no-break">
            <strong>GitHub:</strong><br>
            <a href="https://github.com/subscript-publishing/subscript-html" target="_blank">
                <code class="link-text">https://github.com/subscript-publishing/subscript-html</code>
            </a>
        </p>
        <p>A custom publishing system that reimagines LaTeX for the web.</p>

        <div class="tag-grid">
            <span class="tag">Academic Publishing</span>
            <span class="tag">LaTeX-Inspired</span>
            <span class="tag">HTML</span>
            <span class="tag">JavaScript</span>
            <span class="tag">Responsive Design</span>
            <span class="tag">Note-Taking</span>
        </div>
    </section>

    <section class="project">
        <h3>
            <a href="https://colbyn.github.io/school-notes-spring-2020/" target="_blank">
                My Beautiful Math Notes
            </a>
        </h3>
        <p class="no-break">
            <strong>school-notes-spring-2020:</strong><br>
            <a href="https://colbyn.github.io/school-notes-spring-2020/" target="_blank">
                <code class="link-text">https://colbyn.github.io/school-notes-spring-2020/</code>
            </a>
        </p>
        <p>
            A real-world testbed for Subscript’s HTML toolchain — compiling a semester of math coursework into an
            interactive, web-native format. Features richly formatted equations, diagrams, and dynamic TOC navigation
            across topics.
        </p>
        
        <h4>Key Features</h4>
        <ul>
            <li>Clean math typesetting with inline and block notation.</li>
            <li>Linked headings and deep navigation for modular study.</li>
        </ul>

        <p class="no-break">
            <strong>Final Culmination (pretty slick):</strong><br>
            <a href="https://colbyn.github.io/all-school-notes/">
                <code class="link-text">https://colbyn.github.io/all-school-notes</code>
            </a>
            <br>
            Although looking back I prefer the old style:<br>
            <a href="https://colbyn.github.io/school-notes-fall-2022/">
                <code class="link-text">https://colbyn.github.io/school-notes-fall-2022</code>
            </a>
        </p>

        <div class="tag-grid">
            <span class="tag">Mathematics</span>
            <span class="tag">Academic Publishing</span>
            <span class="tag">Subscript</span>
            <span class="tag">HTML</span>
            <span class="tag">JavaScript</span>
            <span class="tag">Interactive Content</span>
        </div>
    </section>

    <section class="project">
        <h3>Subscript (iPad Edition + Authoring Tools)</h3>
        <p class="no-break">
            <strong>GitHub:</strong><br>
            <a href="https://github.com/subscript-publishing/subscript" target="_blank">
                <code class="link-text">https://github.com/subscript-publishing/subscript</code>
            </a>
        </p>
        <p>
            <b>Content publishing VIA Web-Technologies!</b>
        </p>

        <p>Supports freeform and typed markup content in one medium.</p>

        <h4>Key Features</h4>
        <ul>
            <li>Seamlessly intermix markup with hand drawn content VIA the Subscript Freeform Tools (iPad only).</li>
            <li>Redesigned macOS and iOS editor interfaces from the ground up.</li>
            <li>Native rendering pipeline tuned for complex typeset math, and freeform sketch inputs.</li>
        </ul>

        <div class="tag-grid">
            <span class="tag">Academic Publishing</span>
            <span class="tag">LaTeX-Inspired Markup Language</span>
            <span class="tag">Drawing Tools</span>
            <span class="tag">JavaScript</span>
            <span class="tag">HTML</span>
            <span class="tag">iPad</span>
            <span class="tag">UI/UX Design</span>
            <span class="tag">Swift</span>
            <span class="tag">macOS</span>
            <span class="tag">iOS</span>
        </div>
    </section>
</article>