<article class="year">
    <header class="year-header">
        <h2 class="year-label">2018</h2>
    </header>

    <section class="project job">
        <h3>
            Secret Startup Experiment
        </h3>
        <div class="tag-grid">
            <span class="tag">Video</span>
            <span class="tag">DRM</span>
        </div>
    </section>

    <section class="project">
        <h3>
            <a href="https://github.com/SubSys/Compiler" target="_blank">SubSys/Compiler</a>
        </h3>
        <p class="no-break">
            <strong>GitHub:</strong><br>
            <a href="https://github.com/SubSys/Compiler" target="_blank">
                <code class="link-text">https://github.com/SubSys/Compiler</code>
            </a>
        </p>
        <p>
            A cross-language compiler pipeline that translated <strong>Elm</strong> to <strong>Rust</strong>, implemented in <strong>Haskell</strong> with full constraint based type inference and checking.
        </p>

        <h4>Key Features</h4>
        <ul>
            <li>Elm → Rust transpilation with semantic fidelity.</li>
            <li>Typed IR modeled and verified in Haskell.</li>
            <li>Explores correctness as a first-class design constraint.</li>
        </ul>

        <div class="tag-grid">
            <span class="tag">Compiler Engineering</span>
            <span class="tag">Elm</span>
            <span class="tag">Rust</span>
            <span class="tag">Haskell</span>
            <span class="tag">Type Systems</span>
            <span class="tag">Experimental</span>
        </div>
    </section>

    <section class="project">
        <h3>
            <a href="https://github.com/colbyn/commands" target="_blank">colbyn/commands</a>
        </h3>
        <p class="no-break">
            <strong>GitHub:</strong><br>
            <a href="https://github.com/colbyn/commands" target="_blank">
                <code class="link-text">https://github.com/colbyn/commands</code>
            </a>
        </p>
        <p>
            My least loved project but IMO a greatly improved Bash dialect via an indentation sensitive parser. The syntax mimics the clarity of Python, but compiles to raw shell for automation heavy workflows like <strong>AWS deployments</strong>.
        </p>
        <h4>Key Features</h4>
        <ul>
            <li>Indentation-sensitive syntax for nested blocks.</li>
            <li>Function embedding, aliasing, and multiline strings.</li>
            <li>Supports structured parsing, silent execution, and CLI grouping.</li>
        </ul>
        <div class="tag-grid">
            <span class="tag">CLI Tools</span>
            <span class="tag">Automation</span>
            <span class="tag">DSL</span>
            <span class="tag">Bash-Inspired</span>
        </div>
    </section>
</article>