<article class="year">
    <header class="year-header">
        <h2 class="year-label">2025</h2>
    </header>

    <section class="project">
        <h3 style="line-break: anywhere;">SuperSwiftMarkdownPrototype</h3>
        <p class="no-break">
            <strong>GitHub:</strong><br>
            <a href="https://github.com/SuperSwiftMarkup/SuperSwiftMarkdownPrototype" target="_blank">
                <code class="link-text">github.com/SuperSwiftMarkup/SuperSwiftMarkdownPrototype</code>
            </a>
        </p>

        <hr>
        <p>While markdown UIs can be trivial to implement the goal here was actually very challenging to do well: provide a rich and intuitive text selection experience (across all GitHub flavored markdown block types) that meets the expectations of iOS and macOS users (an aspect that is very lackluster in the ChatGPT iOS app and especially prior to my work). My proof of concept rendering engine handles text selection, including multi-cursor text selection across and within tables in such a manner that I’d love to one day build a markdown based spreadsheet app upon this technology.</p>
        <p>Why did I endeavor to tackle this challenge? (Hint: I didn’t do this so that the iOS devs at OpenAI and other companies can steal some of the techniques I developed.) I’m working on a chatbot client based on a branching data model and there are several aspects that while possible is very lackluster as embedded web views. I needed more control that is only possible with native UI toolkits but when it came to advanced text functionality I needed even more control that motivated my early explorations in text rendering.</p>

        <div class="tag-grid">
            <span class="tag">Swift</span>
            <span class="tag">Markdown Rendering</span>
            <span class="tag">iOS</span>
            <span class="tag">macOS</span>
            <span class="tag">TextKit2</span>
            <span class="tag">Prototype</span>
        </div>
    </section>
</article>