<article class="year">
    <header class="year-header">
        <h2 class="year-label">2016</h2>
    </header>
    <section class="project job">
        <h3>
            <span class="outline">Uplynk/VDMS</span>
            (Verizon Digital Media Services)
            <span class="role">Jr. Developer</span>
        </h3>
        <p>Jr. developer in the QA team lead by Asiel Brumfield. I'm not entirely sure when I began working. I left to pursue a startup with my uncle in encrypted images.</p>
        <div class="tag-grid">
            <span class="tag">Python</span>
            <span class="tag">Q/A</span>
            <span class="tag">video streaming</span>
        </div>
    </section>
</article>