<h1 style="line-break: anywhere;" class="title">
    <a href="https://github.com/SuperSwiftMarkup/SuperSwiftMarkdownPrototype">SuperSwiftMarkdownPrototype</a>
</h1>


<p><strong>A proof of concept native markdown renderer for macOS/iOS.</strong></p>

<img alt="example" src="../../../assets/images/legacy/SuperSwiftMarkdownPrototype/screenshot-1.png" class="floating">
<img alt="example" src="../../../assets/images/legacy/SuperSwiftMarkdownPrototype/screenshot-2.png" class="floating">
<img alt="example" src="../../../assets/images/legacy/SuperSwiftMarkdownPrototype/screenshot-3.png" class="floating">
<img alt="example" src="../../../assets/images/legacy/SuperSwiftMarkdownPrototype/screenshot-4.png" class="floating">

<p><strong>Supports Freakin Markdown Tables!</strong></p>

<img alt="example" src="../../../assets/images/legacy/SuperSwiftMarkdownPrototype/tables-preview.png" class="floating">

<p><strong>With full text selection support:</strong></p>

<img alt="example" src="../../../assets/images/legacy/SuperSwiftMarkdownPrototype/tables-selection-preview.png" class="floating">

<blockquote>
    <p><strong>Unlike the ChatGPT iOS app.</strong></p>
</blockquote>

<p><strong>Also while it’s not pretty, I thought this was interesting:</strong></p>
<img alt="example" src="../../../assets/images/legacy/ssm-table-cursor-example.gif" class="boxed">

<p>The above was an early example multi cursor text selection of tables that—notably— includes an empty column at the
    end, which I kinda like but the latest version on GitHub has this disabled to be more akin to the original source
    code. What I like about adding an empty column at the end is that I could make it easy to append columns to the end
    of the table, just position the cursor at the end of a table row and press enter.</p>
<p><strong>Overall:</strong></p>

<p>Initially the work began with a <em>proof-of-concept</em> prototype with the following aims: </p>

<ul>
    <li>Implement a native text renderer that supports all block types as defined in the GitHub Flavored Markdown Spec.
    </li>
    <li>With uniform behavior concerning text selection and selection-based navigation. Including: <ul>
            <li>This includes the ability to select any inline text within any markdown block and be able to extend that
                selection across multiple and varying markdown block types. </li>
            <li>Cross platform support for multiple cursors / selections. </li>
        </ul>
    </li>
    <li>Implement all of the above without relying on macOS only APIs.<ul>
            <li>While the prototype was implemented in terms of AppKit APIs, the port to iOS should be relatively
                trivial. Especially since this project was itself based on an earlier codebase that was implemented in
                terms of UIKit and I have verified that the TextKit 2 functionality concerning text selections does
                indeed work on—at least—iOS 17 (which I honestly thought would be too good to be true lol). </li>
        </ul>
    </li>
</ul>

<p><strong>See my article:</strong></p>

<ul>
    <li>
        <a href="https://colbynwadman.substack.com/p/a-better-iosmacos-native-markdown">
            A Better iOS/MacOS Native Markdown Renderer — Proof of concept
        </a>
    </li>
</ul>

<h2 id="-superswiftmarkup-https-github-com-superswiftmarkup-superswiftmarkup-">
    <a href="https://github.com/SuperSwiftMarkup/SuperSwiftMarkup">
        SuperSwiftMarkup
    </a>
</h2>

<p><strong>At the time of this writing:</strong></p>

<p>
    Now that the core functionality has been proven viable, I (the author) have learned much and I intend to translate my experience and lessons learned from the <em>proof-of-concept</em> prototype codebase into a viable set of libraries that app developers can depend upon. Starting from a blank slate.
</p>

<p>So keep in mind:</p>

<ul>
    <li>This project is a complete rewrite from the ground up.</li>
    <li>The git tree is also a fresh start.</li>
    <li>
        At the time of this writing this project is in heavy development and does not yet present any cool tangible functionality.</li>
    <li>
        So head over to the aforementioned <a href="https://github.com/SuperSwiftMarkup/SuperSwiftMarkdownPrototype"><em>proof-of-concept</em> prototype</a> to see the past history and screenshots from where that project left off (spoiler alert it’s super cool).
    </li>
    <li>
        For the layperson, unless you’re interested in contributing towards or influencing the initial evolution of the
        SuperSwiftMarkup libraries, <strong>please check back</strong> every so often to see when some libraries therein
        are ready for real world use.
    </li>
    <li>
        But if you’re interested in influencing the initial evolution of this project, then by all means dive in. 🙂
    </li>
</ul>

<p><strong>High Level Objectives:</strong></p>

<ul>
    <li>First class (cross platform) support for all markdown block types, with uniform behavior concerning text
        selection and selection-based navigation.</li>
    <li>First class (cross platform) support for multiple cursors/selections.</li>
    <li>Default support for everything under &quot;Meeting the expectations of iOS and macOS users&quot; (see <a
            href="#Appendix">Appendix</a>).</li>
</ul>

<p><strong>Additionally:</strong></p>

<ul>
    <li>Where the rendering engine is designed in such a way that can accommodate,<ul>
            <li>Horizontally scrollable fragments (on a per-fragment basis) as an alternative to text wrapping. Which is
                particularly desirable for e.g. long tables that cannot neatly fit within their available view space.
            </li>
        </ul>
    </li>
</ul>

<p><strong>Overall I hope you’re excited as I am!</strong> </p>

<p>
    Personally I, the author (Colbyn Wadman), have been messing around with miscellaneous problems concerning text processing and text rendering (in one form or another) for a very long time and—as far as the POC has demonstrated—it’s good to see something interesting come from it, and when I release my work, I hope you’ll be pleased with the results. 🤞
</p>