<article class="section">
    <h1 class="title">2020</h1>
    <section class="entry">
        <include
            src="./note-taking-overview.html"
            baseline="h2">
        </include>
    </section>
    <section class="entry">
        <include
            src="./subscript-html.html"
            baseline="h2">
        </include>
    </section>
    <section class="entry">
        <include
            src="./colbyns-math-notes.html"
            baseline="h2">
        </include>
    </section>
    <section class="entry">
        <include
            src="./my-chemistry-notes.html"
            baseline="h2">
        </include>
    </section>
    <section class="entry">
        <include
            src="./subscript.html"
            baseline="h2">
        </include>
    </section>
</article>